<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1093296693178-5g4g9c0b195163nhs846rqmd56gdnbsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093296693178-5g4g9c0b195163nhs846rqmd56gdnbsq</string>
	<key>API_KEY</key>
	<string>AIzaSyBhCjHb2W5RkwWKrgwtNTgCoTeZU8f8dDU</string>
	<key>GCM_SENDER_ID</key>
	<string>1093296693178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhiyuan.MySnapChat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-dd13e</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-dd13e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093296693178:ios:9b70ed9523407c9c</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-dd13e.firebaseio.com</string>
</dict>
</plist>